body{
    background-image: url(/images/kyo.webp);
    background-repeat: no-repeat;
    background-size: 100%,100%;
    
}
h1{
    font-size: 50px;
    background: rgb(32, 124, 216);
    color:white;
}